<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<form>
    <!-- ESTO ES PARA LA CABECERA DE LA WEB -->
    <div class="cabecera">
        <div class="titulo_gourmet">
            <h3 style="color: #000000;">Gula</h3>
            <h3 style="color: #F04444;">Gourmet</h3>
        </div>
        <div class="bar_nav">
            <label>Sobre Nosotros</label>
            <label>Galeria</label>
            <button class="button_nav">Menu</button>
        </div>
    </div>
    <!-- ESTO ES EL CUERPO DE LA WEB  -->
    <div class="cuerpo_main">
        <div class="cuerpo_main_search">
            <div class="slogan_main">
                <h1 style="color: #000000;">¿ESTÁS</h1>
                <h1 style="color: #F04444;">SOLO EN CASA</h1>
                <h1 style="color: #000000;">Y  CON HAMBRE?</h1>
                <p>Bienvenido a GulaGourmet, tu pasaporte digital a un mundo de exquisitez culinaria. </p>
            </div>
            <div class="container_search_main">
                <input type="text" placeholder="Pollo a la braza...">
                <button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon></button>
            </div>
            <div class="container_placeholder_search">
                <h4>Busqueda rapida: </h4>
                <h4 style="color: rgb(149, 149, 149);">Hamburguesa, Ensaada, Chaufa</h4>
            </div>
        </div>
        <div class="cuerpo_main_img">
            <div class="container_left">
                <div class="capsule_left">
                </div>
                <div class="titulo_capsule">
                    <label>Hamburguesas</label>
                </div>
            </div>
            <div class="container_center">
                <div class="titulo_capsule">
                    <label>Chaufa</label>
                </div>
                <div class="capsule_center"></div>
            </div>
            <div class="container_right">
                <div class="capsule_right"></div>
                <div class="titulo_capsule">
                    <label>Pollo a la brasa</label>
                </div>
            </div>
        </div>
    </div>
</form>